:root {
  --box-shadow-color: var(--foreground);
  --border-radius: 8px;
  --border-radius-xs: 4px;

  --border-width: 4px;
  --border-width-xs: 2px;

  --elevation: 8px;
  --elevation-xs: 4px;

  --hover-y-offset: -2px;
  --hover-y-offset-xs: -1px;

  --pressed-y-offset: var(--elevation);
  --pressed-y-offset-xs: var(--elevation-xs);

}

.elevated {
  border-radius: var(--border-radius);
  box-shadow: 0 var(--elevation) 0 var(--border-width) var(--box-shadow-color), 0 0 0 var(--border-width) var(--box-shadow-color);
}

.elevated--primary {
  --box-shadow-color: var(--ui-primary)
}

button.elevated {
  cursor: pointer;
  transition: 250ms;
  transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

button.elevated:hover {
  transform: translateY(var(--hover-y-offset));
  box-shadow: 0 calc(var(--elevation) - var(--hover-y-offset)) 0 var(--border-width) var(--box-shadow-color), 0 0 0 var(--border-width) var(--box-shadow-color);
}

button.elevated:active {
  transform: translateY(var(--pressed-y-offset));
  box-shadow: 0 calc(var(--elevation) - var(--pressed-y-offset)) 0 var(--border-width) var(--box-shadow-color), 0 0 0 var(--border-width) var(--box-shadow-color);
}

.elevated--xs {
  --border-radius: var(--border-radius-xs);
  --elevation: var(--elevation-xs);
  --border-width: var(--border-width-xs);
  --hover-y-offset: var(--hover-y-offset-xs);
  --pressed-y-offset: var(--pressed-y-offset-xs);
}
